.cast-container {
  width: 120px;
  border-radius: 6px;
  margin: 6px;
  box-shadow: 1px 1px 1px 1px lightgray;
  height: 220px;
}

.cast-card {
  /* border: 1px solid black; */
  border-radius: 6px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.cast-img {
  width: 100%;
  height: 120px;
  border-radius: 6px;
}

.cast-name {
  font-weight: 700;
}

.cast-details {
  margin: 2px;
  padding-left: 2px;
}

.cast-details p {
  margin: 0;
  padding: 0;
}

.cast-character {
  font-size: 12px;
}
