.movie-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  margin-bottom: 18px;
  align-items: center;
  border: 1px solid darkgray;
  padding: 3px;
  border-radius: 6px;
}

.movie-card {
  max-width: 180px;
  position: relative;
  color: black;
  overflow: hidden;
  margin: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.link-item {
  text-decoration: none;
}

.poster-img {
  height: 250px;
  width: 160px;
  border-radius: 10px;
  align-self: center;
}

.rating-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
  background-color: #66d487;
  color: white;
  margin-bottom: 30px;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
}

.rating-text {
  font-size: 10px;
}

.popular-title {
  font-weight: bold;
}

.popular-date {
  font-size: 14px;
}

.details-btn-div {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-btn {
  background-color: darkcyan;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
