::-webkit-scrollbar {
  display: none;
}

.movie {
  min-height: 100vh;
  background-size: 'cover';
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.movie-background {
  width: 100vw;
  height: 100%;
  background-size: cover;
  padding: 10px;
  width: 100%;
  box-shadow: inset 0 0 0 1000px #00000080;
}

.movie-details {
  max-width: 100vw;
  color: white;
  display: flex;
  flex-direction: row;
}

.poster-div {
  width: 350px;
  height: 420px;
  margin: 10px;
  margin-right: 30px;
}

.poster-image {
  min-width: 280px;
  max-width: 350px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.details-div {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1;
  flex-shrink: 1; */
  max-width: 100vw;
  justify-content: center;
  padding-left: 30px;
}

.span-year {
  font-weight: normal;
  font-size: 20px;
  padding-left: 10px;
}

.rating-genres {
  display: flex;
  flex-direction: row;
}

.gap {
  padding: 0;
  margin: 0;
}

.ul-movie {
  margin: 0;
  padding: 0;
  list-style-type: circle;
}

.ul-movie li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

li span {
  margin-top: 2px;
  padding-top: 3px;
}

.voting-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-rating-div {
  height: 50px;
  width: 50px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: darkkhaki;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  margin-right: 6px;
}

.overview-head {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
}

.overview-content {
  margin: 0;
  padding: 0;
}

.tagline {
  font-weight: 500;
}

.cast-crew-status {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  max-width: 70vw;
}

.cast-crew {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cast-div {
  max-width: 70vw;
  overflow: auto;
}

.cast-ul {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  list-style-type: none;
  cursor: pointer;
  /* overflow-x: hidden; */
}

.cast-heading {
  font-weight: 700;
  font-size: 26px;
  padding-left: 50px;
}

.status-container {
  padding-left: 30px;
  padding-top: 60px;
}

.status-container p {
  width: 20vw;
  margin: 0px;
  /* margin-top: 6px; */
}

.status-heading {
  font-weight: 700;
  padding-top: 6px;
}

.status-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
}
