.search-card-container {
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #00000080;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 260px;
  width: 100vw;
  border-radius: 10px;
  margin: 5px 20px 5px 10px !important;
  align-items: center;
}

.search-poster-img {
  height: 100%;
  border-radius: 6px;
  margin-right: 20px;
}

.search-card-container {
  margin: 0px 0px 0px 6px;
  color: white;
}

.search-card-details {
  margin-left: 5px;
}

.search-card-span {
  margin-right: 6px;
}

.search-card-static {
  font-weight: 500;
  font-size: 15px;
}

.search-card-title {
  font-weight: 700;
  font-size: 22px;
}

.search-card-overview-title {
  font-weight: 600;
}

.search-card-date {
  font-weight: 600;
}
